:root {
	--font-size-main: 0.906rem; /* 14.5px */
	--font-size-second: 0.688rem; /* 11px */

	--color-main: rgba(0, 0, 0, 0.8);
	--border-main: rgba(0, 0, 0, 0.6);
	--border-shorthand: 0.063rem solid rgba(0, 0, 0, 0.6);

	/* Button */
	--button-hover-backround: rgba(0, 0, 0, 0.8);
	--button-hover-color: rgba(255, 255, 255, 0.9);
	--font-size-button: 0.769rem; /* 12.3px */

	--unit-one: 0.438rem; /* 7px */
	--unit-two: 0.75rem; /* 12px */
}

*, *::before, *::after {
	box-sizing: border-box;
}

body { /* Left & right spacing is left & right from default body margin + 12px */
	background: url("/assets/Images/bliss.jpg");
	background-size: cover;
	height: 100vh;
	margin-top: 0;
	margin-bottom: 0;
	padding: var(--unit-two);
	font-size: var(--font-size-main);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 9vh);
	max-width: 163px;
	margin: 4.5vh auto;
	text-align: center;
}

#window {
	background: linear-gradient(0deg, rgba(49,100,218,1) 0%, rgba(14,69,171,1) 0%, rgba(36,113,244,1) 96%, rgba(58,138,255,1) 100%);
	border-radius: 8px 8px 0 0;
	padding: 3px;
}

/* Titlebar */

#titlebar {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #134394;
	padding: 3px;
	cursor: default;
	user-select: none;
}

.__icon {
	margin-left: 4px;
}

.__icon img {
	display: block;
	width: 17px;
}

.__title {
	color: white;
	font-family: sans-serif;
	font-size: 13px;
	text-shadow: 1px 1px black;
}

/* Toolbar */

#toolbar {
	display: flex;
	background-color: #ece9d8;
	font-family: arial;
	font-size: var(--font-size-second);
	cursor: default;
	user-select: none;
}

.__game,
.__help {
	position: relative;
}

._game-text,
._help-text {
	padding: 3px 6px;
}

._options {
	display: none;
	flex-direction: column;
	background-color: #fbfbfb;
	border: 1px solid rgba(0, 0, 0, 0.6);
	width: 115px;
	padding: 2px;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
	text-align: left;

	position: absolute;
	z-index: 1;
}

.__help ._options {
	width: 160px;
}

._options > div {
	display: flex;
	padding: 3px;
}


.separator_ {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	margin: 2.5px 0;
	width: 100%;
}

.check__ {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 15px;
	margin-right: 2px;
}

.check__ img {
	display: none;
}

.shortcut__ {
	width: 100%;
	margin-right: 12px;
	text-align: right;
}

/* The Game Itself */

#minesweeper {
	background-color: #c4c4c4;
	border: 3px solid white;
	border-right: 0;
	border-bottom: 0;
	padding: 5px;
	width: 100%;
	user-select: none;
}

/* Game Difficulty */

._game-difficulty {
	font-size: var(--font-size-second);
	text-decoration: underline;
	cursor: pointer;

	position: absolute;
	top: -0.938rem;
	left: 0;
}

._game-difficulty span {
	margin-right: 3px;
	opacity: 0.6;
}

.chosen_ {
	opacity: 0.95 !important;
}

/* Game Info */

.__game-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #c4c4c4;
	width: 100%;
	margin-bottom: 5px;
	padding: 4px 5px;
	border: 2px solid white;

	position: relative;
}

._mines-count,
._timer {
	display: flex;
	border: 1px solid white;
}

.left_,
.middle_,
.right_  {
	background: url("/assets/Images/digits.png");
	background-position: -13px;
	height: 23px;
	width: 13px;
}

._smiley-face {
	background: url("/assets/Images/faces.png");
	background-position: 0;
	border: 1px solid #878787;
	border-radius: 2px 2px 0 2px;
	height: 26px;
	width: 26px;
	user-select: none;
}

/* Game Board */

.__board {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	border: 3px solid white;
}

._tile {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("/assets/Images/tiles.png");
	background-position: 0 0;
	width: 16px;
	height: 16px;
	font-weight: bold;
	cursor: default;
}

._tile:hover {
	background-color: rgb(215, 215, 215);
}

._tile img {
	width: var(--font-size-main);
	opacity: 0.8;
}

/* Extra */

.active_ {
	display: flex;
}

.active-tab_ {
	color: white;
	background-color: #0368ee;
}

[data-checked="true"] {
	display: block !important;
}

.__game-info,
.__board,
._mines-count,
._timer {
	border-left-color: #878787;
	border-top-color: #878787;
}

.clicked_ {background-position: -16px 0;}
.hold_ {background-position: -16px 0;}
.t1_ {background-position: 0 16px;}
.t2_ {background-position: -16px 16px;}
.t3_ {background-position: -32px 16px;}
.t4_ {background-position: -48px 16px;}
.t5_ {background-position: -64px 16px;}
.t6_ {background-position: -80px 16px;}
.t7_ {background-position: -96px 16px;}
.t8_ {background-position: -112px 16px;}
.flagged_ {background-position: 96px 0;}
.question-mark_ {background-position: 80px 0;}
.mine_ {background-position: 48px 0;}
.mine-flagged_ {background-position: 16px 0;}
.mine-clicked_ {background-position: 32px 0;}
.face-o_ {background-position: 72px;}
.face-win_ {background-position: 48px;}
.face-lose_ {background-position: 24px;}
.face-hold_ {background-position: -24px;}

[data-number="minus_"] {background-position: 0;}
[data-number="one_"] {background-position: -26px;}
[data-number="two_"] {background-position: -39px;}
[data-number="three_"] {background-position: -52px;}
[data-number="four_"] {background-position: -65px;}
[data-number="five_"] {background-position: -78px;}
[data-number="six_"] {background-position: -91px;}
[data-number="seven_"] {background-position: -104px;}
[data-number="eight_"] {background-position: -117px;}
[data-number="nine_"] {background-position: -130px;}

/* Media Query */

@media (hover: hover) {
	._game-text:hover,
	._game-text:hover u,
	._help-text:hover,
	._help-text:hover u,
	._options > div:hover {
		color: white;
		background-color: #0368ee;
	}

	._options > div:hover img {
		filter: invert(1);
	}
}