:root {
	--font-size-main: 0.906rem; /* 14.5px */
	--font-size-second: 0.688rem; /* 11px */

	--color-main: rgba(0, 0, 0, 0.8);
	--border-main: rgba(0, 0, 0, 0.6);
	--border-shorthand: 0.063rem solid rgba(0, 0, 0, 0.6);

	/* Button */
	--button-hover-backround: rgba(0, 0, 0, 0.8);
	--button-hover-color: rgba(255, 255, 255, 0.9);
	--font-size-button: 0.769rem; /* 12.3px */

	--unit-one: 0.438rem; /* 7px */
	--unit-two: 0.75rem; /* 12px */
}

*, *::before, *::after {
	color: var(--color-main);
	box-sizing: border-box;
}

body { /* Left & right spacing is left & right from default body margin + 12px */
	background: url("/assets/Images/bliss.jpg");
	background-size: cover;
	height: 100vh;
	margin-top: 0;
	margin-bottom: 0;
	padding: var(--unit-two);
	font-size: var(--font-size-main);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 9vh);
	max-width: 163px;
	margin: 4.5vh auto;
	text-align: center;
}


#window {
	background: linear-gradient(0deg, rgba(49,100,218,1) 0%, rgba(49,100,218,1) 0%, rgba(6,100,241,1) 96%, rgba(59,150,255,1) 100%);
	border-radius: 8px 8px 0 0;
	padding: 3px;
}

/* Titlebar */

#titlebar {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #134394;
	padding: 3px;
	cursor: default;
	user-select: none;
}

.__icon img {
	display: block;
	width: 17px;
}

.__title {
	color: white;
	margin-left: 4px;
	font-family: sans-serif;
	font-size: 13px;
	text-shadow: 1px 1px black;
}

/* Toolbar */

#toolbar {
	display: flex;
	background-color: #ece9d8;
	font-family: monospace;
	font-size: var(--font-size-button);
	cursor: default;
	user-select: none;
}

.__game,
.__help {
	padding: 3px 6px;
}

/* The Game Itself */

#minesweeper {
	border: 3px solid white;
	border-right: 0;
	border-bottom: 0;
	background-color: #c4c4c4;
	padding: 5px;
	width: 100%;
}

/* Game Difficulty */

._game-difficulty {
	font-size: var(--font-size-second);
	text-decoration: underline;
	cursor: pointer;

	position: absolute;
	top: -0.938rem;
	left: 0;
}

._game-difficulty span {
	margin-right: 3px;
	opacity: 0.6;
}

.chosen_ {
	opacity: 0.95 !important;
}

/* Game Info */

.__game-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #c4c4c4;
	margin-bottom: 5px;
	width: 100%;
	padding: 4px 5px;
	border: 2px solid white;

	position: relative;
}

._mines-count,
._timer {
	display: flex;
	border: 1px solid white;
}

._mines-count div,
._timer div {
	height: 23px;
	width: 13px;
	background: url("/assets/Images/digits.png");
	background-position: 0 0;
}

._smiley-face {
	background: url("/assets/Images/faces.png");
	background-position: 0 0;
	border: 1px solid #878787;
	border-right: none;
	border-bottom: none;
	border-radius: 2px 2px 0 2px;
	height: 25px;
	width: 25px;
}

/* Game Board */

.__board {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	border: 3px solid white;
}

._tile {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("/assets/Images/tiles.png");
	background-position: 0 0;
	width: 16px;
	height: 16px;
	font-weight: bold;
	cursor: default;
}

._tile:hover {
	background-color: rgb(215, 215, 215);
}

._tile img {
	width: var(--font-size-main);
	opacity: 0.8;
}

/* Extra */

.__game-info,
.__board,
._mines-count,
._timer {
	border-left-color: #878787;
	border-top-color: #878787;
}

.flag-clicked {
	opacity: 0.9 !important;
}

.clicked {
	background-position: -16px 0;
}

.t1_ {background-position: 0 16px;}
.t2_ {background-position: -16px 16px;}
.t3_ {background-position: -32px 16px;}
.t4_ {background-position: -48px 16px;}
.t5_ {background-position: -64px 16px;}
.t6_ {background-position: -80px 16px;}
.t7_ {background-position: -96px 16px;}
.t8_ {background-position: -112px 16px;}
.mine_{background-position: 48px 0;}
.mine-clicked_{background-position: 32px 0};

/* Media Query */

@media (hover: hover) {
	.__game:hover,
	.__help:hover,
	.__game:hover u,
	.__help:hover u {
		color: white;
		background-color: #0368ee;
	}

	._game-difficulty span:hover {
		opacity: 0.95;
	}
}